spring:
  application:
    name: security
  sql:
    init:
      mode: always

  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:authz.pub
          audiences: cashcard-client

logging:
  level:
    org.springframework.security: TRACE
